body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    font-weight: 300;
}

.parallax-container {
    height: 400px;
}

#divider-parallax {
    height: 300px;
}