<li id="menu-item-' + MenuID + '">
    <div class="collapsible-header menu-item-header">New Item</div>
    <div class="collapsible-body"><span>
        <div class="row">
            <div class="input-field col s12">
                <input id="menu-item-name-' + MenuID + '" class="menu-item-name" type="text">
                <label for="menu-item-name-' + MenuID + '">Name</label>
            </div>
            <div class="input-field col s12 hide-on-small-only">
                <input id="menu-item-description-regular-' + MenuID + '" class="menu-item-description-regular" type="text">
                <label for="menu-item-description-regular-' + MenuID + '">Description</label>
            </div>
            <div class="input-field col s12 hide-on-med-and-up">
                <textarea id="menu-item-description-large-' + MenuID + '" class="materialize-textarea menu-item-description-large"></textarea>
                <label for="menu-item-description-large-' + MenuID + '">Description</label>
            </div>
            <div class="input-field col s12">
                <input id="menu-item-price-' + MenuID + '" class="menu-item-price" type="text">
                <label for="menu-item-price-' + MenuID + '">Price</label>
            </div>
            <div class="input-field col">
                <a class="btn waves-effect waves-light menu-item-new" onclick="MenuNew(' + MenuID + ');">Submit<i class="material-icons right">send</i></a>
                <a class="btn waves-effect waves-light red menu-item-delete" onclick="MenuDeleteNew(' + MenuID + ');">Delete<i class="material-icons right">delete</i></a>
            </div>
        </div>
    </span></div>
</li>